    <nav class="navbar-inner">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                <!-- <a class="navbar-brand" ui-sref="/">WebQuery</a> -->

                <div class="collapse navbar-collapse" role="navigation">
                    <div class="nav-button">
                        <div class="hamburger">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                        <div id="menu-click-area"></div>
                    </div>
                    <ul id="menu-items" class="nav navbar-nav">
                        <li class="" ng-repeat="node in nav.menu"><a ui-sref="{{node.state}}" class="menu-item" roll="" needsclick=""><span data-hover="{{node.text}}">{{node.text}}</span></a></li>
                        
                        
                    </ul>  
                    <div class="utilities"> 
                        <ul class="utilities-list">
                            <li class="login-btn">
                                <a href="/login">
                                    <i class="icon-user2"></i>
                                    Login
                                </a>
                            </li>
                            <li class="search-btn">
                                <form class="srchform " ng-class="{'open' : expandSearch}" ng-submit="">
                                  <input type="text" class="srchtxt" ng-model="searchTxt"/>
                                  <div class="eks" ng-click="expandSearch=!expandSearch"></div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                
    </nav>