<div class="new-post">
	<div class="container">
		<div class="row">
			<h2> New Post </h2>
			<div>
				dfjngdfngdkjf
				dfgldfngldjnfgd
				dfgldnfng</br>
				</br>
				</br>
				khkkh
				</br>khgkugigig
				</br>kgugugiugi
				</br>kkgkugku
			</div>
			<form name='newPostForm' novalidate class="form-horizontal">

				<form-field record='post' field='title' live='false' required='true'></form-field>

				
				<form-field record='post' field='desc' live='false' required='true'></form-field>
				<form-field record='post' field='content' live='false' required='true'></form-field>

				<div class="row form-group">
					<div class="col-sm-offset-2">
						<button class="btn btn-primary" ng-click='save()'> Create Post</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>