<section class="slider-block">

    <div class="slider">

        <a class="prev noajax" href="#">
            <span class="icon-wrap"><span class="icon-arrow-left4"></span></span>
            <div><img src="images/M-T.jpg" alt="Next thumb"></div>
        </a>
        <a class="next noajax" href="#">
            <span class="icon-wrap"><span class="icon-arrow-right4"></span></span>
            <div><img src="images/L-T.jpg" alt="Previous thumb"></div>
        </a>
        <div class="slider-container">
            <div class="slider-wrapper">

                <div class="slide sl1">
                    <canvas id='galaxy'></canvas>
                    <div class="title">
                        <h1 class="animated fadeInLeftBig delay-03">Totally Responsive</h1>
                        <p class="hidden-xs animated fadeIn delay-08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p class="animated flipInY delay-05"><a href="#" class="btn btn-white btn-large">More</a></p>
                    </div>

                </div>
                <div class="slide sl2">

                    <div class="title">
                        <h1 class="animated fadeInLeftBig delay-03">Totally Responsive</h1>
                        <p class="hidden-xs animated fadeIn delay-08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p class="animated fadeInRight delay-05"><a href="#" class="btn btn-white btn-large">More</a></p>
                    </div>

                </div>
                <div class="slide sl3">

                    <div class="title">
                        <h1 class="animated fadeInLeftBig delay-03">Totally Responsive</h1>
                        <p class="hidden-xs animated fadeIn delay-08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p class="animated flipInX delay-05"><a href="#" class="btn btn-white btn-large">More</a></p>
                    </div>

                </div>
                <div class="slide sl4">

                    <div class="title">
                        <h1 class="animated fadeInLeftBig delay-03">Totally Responsive</h1>
                        <p class="hidden-xs animated fadeIn delay-08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p class="animated fadeinup delay-05"><a href="#" class="btn btn-white btn-large">More</a></p>
                    </div>

                </div>

            </div>

        </div>
        <div class="slider-pagination"></div>
    </div>
</section>

<!--Carousel End -->
<section class="intro-block" id="intro-block">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <img class="img-responsive tpad" src="images/logo.png">
            </div>
            <div class="col-xs-9">
                <h1>Web Query <span class="text-muted">&raquo; Feuther Web Design</span></h1>
                <p class="lead">Masoud Design is a unique Web designed to help people all over the world to get home quicker, by connecting with your local transport network</p>
            </div>
        </div>
    </div>
</section>
<svg id="bigTriangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path id="trianglePath1" d="M0 0 L50 100 L100 0 Z" />
</svg>
<!-- End Intro Text -->
<section class="services-block" id="services-block">
    <div class="section-overlay">
    <div class="container">
        <div class="row">
            <div class="section-title">

                <h2><span>Services</span></h2>

            </div>
            <div class="col-sm-6 col-md-3">
                <div class="service serviceBlock web">
                    <div class="view">
                        <div class="service-icon">
                            <span class="icon-laptop"></span>
                        </div>
                        <h2>Responsive Web Design</h2>
                        <p class="lead">We offer each and every client one-on-one customer service directly with the web designer that designed their project. With our highly skilled team of website designers and website developers we can create exactly what you need.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="service serviceBlock mark">
                    <div class="view">
                    <div class="service-icon">
                        <span class="icon-mouse"></span>
                    </div>
                    <h3>Pay-per-Click</h3>
                    <p class="lead">Our PPC services are focused on search, display and mobile network advertising as offered by Google, Bing and others. Our pay-per-click management services also integrate powerful paid search tools to maximize efficiency and ROI.</p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="service serviceBlock des">
                    <div class="view">
                    <div class="service-icon">
                        <span class="icon-stats"></span>
                    </div>
                    <h3>SEO </h3>
                    <p class="lead">Search engine optimization or SEO refers to the art and science of tuning your site so that search engines such as Google bring up your site when a potential visitor enters information into their search engine relevant to your site and Its Content.</p>
                        </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="service serviceBlock ecom">
                    <div class="view">
                    <div class="service-icon">
                        <span class="icon-cart"></span>
                    </div>
                    <h3>Ecommerce</h3>
                    <p class="lead">Effective online shopping experiences, focussed on conversion</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


<svg id="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 0 C 50 100 80 100 100 0 Z"/>
</svg>
<!-- End Page Content -->
<section class="portfo-block" id="portfo-block">
    <div class="container padded">
        <div class="row">
            <div class="section-title">
                <h2><span>Some Work</span></h2>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media">
                    <div class="media-img">
                        <div class="img-overlay ">
                            <a class="btn btn-circle noajax animated fadeInLeftBig" href="javascript:;" ><span class="icon-link"></span></a>
                            <a class="btn btn-circle  animated fadeInRightBig needsclick" href="portfolio-1" ><span class="icon-zoomin"></span></a>
                        </div>

                        <img  src="images/work.jpg" class="attachment-post-featured wp-post-image" alt="socialapp_evid_bis"></div>
                    <div class="media-post animated fadeindownbig">
                        <h3><a href="javascript:;">eYab Co</a></h3>
                        <p class="metadata"><time class="updated" datetime="2014-02-05T14:21:26+00:00" pubdate="">7 August 2014</time> By Masoud</p>

                        <p>How many times have you hit the road to make a nice picnic on the weekend, but when you got …</p>



                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media">
                    <div class="media-img">
                        <div class="img-overlay ">
                            <a class="btn btn-circle noajax animated fadeInLeftBig" href="javascript:;" ><span class="icon-link "></span></a>
                            <a class="btn btn-circle  animated fadeInRightBig" href="portfolio-1" ><span class="icon-zoomin"></span></a>
                        </div>

                        <img  src="images/work.jpg" class="attachment-post-featured wp-post-image" alt="socialapp_evid_bis"></div>
                    <div class="media-post">
                        <h3><a href="javascript:;">eYab Co</a></h3>
                        <p class="metadata"><time class="updated" datetime="2014-02-05T14:21:26+00:00" pubdate="">7 August 2014</time> By Masoud</p>

                        <p>How many times have you hit the road to make a nice picnic on the weekend, but when you got …</p>



                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="media">
                    <div class="media-img">
                        <div class="img-overlay ">
                            <a class="btn btn-circle noajax animated fadeInLeftBig" href="javascript:;" ><span class="icon-link "></span></a>
                            <a class="btn btn-circle  animated fadeInRightBig" href="portfolio-1" ><span class="icon-zoomin"></span></a>
                        </div>

                        <img  src="images/work.jpg" class="attachment-post-featured wp-post-image" alt="socialapp_evid_bis"></div>
                    <div class="media-post">
                        <h3><a class="noajax" href="javascript:;">eYab Co</a></h3>
                        <p class="metadata"><time class="updated" datetime="2014-02-05T14:21:26+00:00" pubdate="">7 August 2014</time> By Masoud</p>

                        <p>How many times have you hit the road to make a nice picnic on the weekend, but when you got …</p>



                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End portfo Section -->