<div id="post1" class="post1 intro-effect-fadeout scrollanim">
    <header class="header">
        <div class="bg-img">
            <img src="/imgs/{{post.img[0]}}" alt="Background Image">
        </div>
        <div class="title">
            <h1>{{post.title[0] | capitalize:true}}</h1>
			<p class="subline">{{post.desc[0] |capitalize:true}} .</p>
			<p>by <strong>1</strong> — Posted on <strong>{{post.date[0]}}</strong></p>
			</div>
            <button class="trigger"><span></span></button>
    </header>
    <article class="content">
        <div class="container">
            <div class="row">
                <p>{{post.content[0] | capitalize}}</p>
            </div>
        </div>
    </article>
</div>