<div id="blog" class="blog intro-effect-jam3 scrollanim">
    <section id="header-block" class="header ">
        <div class=" wedget-post">
            <div class="bg-img">
                <img src="/imgs/blog.jpg" alt="Background Image">
            </div>
            <div class="title">
                <h1>Posts</h1>
            </div>
            <button class="trigger"><span class="icon-arrow-down4"></span></button>
        </div> 
    </section>
    <section id="posts-block" class="posts content  blog-thumb">
        <div class="container">
            <div class="row">
                <input type="text" name="" ng-model="query">
                <ul id="grid" class="grid effect-5" >
                    <li ng-repeat="post in posts | filter: query" class="shown" >
                        <div class=" grid-post">
                            <figure class="effect-phoebe phoebe">
                                <img src="/imgs/{{post['img'][0]}}" alt="img03">
                                <figcaption class="phoebe">
                                    <h2>{{post['title'][0]| labelCase}}</h2>
                                    <p class="desc">{{post['desc'][0] | labelCase}}</p>
                                    <p>
                                        <a href="#"><i class="icon-user"></i></a>
                                        <a href="#"><i class="icon-heart"></i></a>
                                        <a ui-sref="postDetail({postId: {{post.id}}})"><i class="icon-link"></i></a>
                                    </p>
                                </figcaption>           
                            </figure>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>